<div class="card flex justify-content-center gap-2">
  <p-toast></p-toast>
  <button
    type="button"
    pButton
    pRipple
    *ngIf="addSuccessful"
    class="p-button-success"
  ></button>
  <button
    type="button"
    pButton
    pRipple
    *ngIf="editSuccessful"
    class="p-button-info"
  ></button>
  <button
    type="button"
    pButton
    pRipple
    *ngIf="hideSuccessful"
    class="p-button-warning"
  ></button>
  <button
    type="button"
    pButton
    pRipple
    *ngIf="deleteSuccessful"
    class="p-button-danger"
  ></button>
</div>
<div class="card shadow border-0">
  <div class="row mx-2 mt-4">
    <div class="col-md-6 text-start">
      <a class="btn outline-button" (click)="showDialogAssign()">
        <i class="bi bi-person-check-fill"></i> Assign Role
      </a>
    </div>
    <div class="col-md-6 text-end">
      <a class="btn outline-button" (click)="showDialog()">
        <i class="bi bi-journal-plus"></i> Register New Employee
      </a>
    </div>
  </div>

  <div
    class="card-body p-4 table-responsive"
    *ngIf="employeeList$ | async as employees"
  >
    <table class="table table-bordered table-striped text-center">
      <thead>
        <tr>
          <th>Emp No.</th>
          <th>Name</th>
          <th>Email</th>
          <th>Country</th>
          <th>Department</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees">
          <td>{{ employee.employeeNo }}</td>
          <td>{{ employee.firstName }} {{ employee.lastName }}</td>
          <td>{{ employee.email }}</td>
          <td>{{ employee.country }}</td>
          <td>{{ employee.jobDepartment }}</td>
          <td class="no-wrap">
            <a
              class="btn btn-dark btn-edit mx-2"
              (click)="showDialogEdit(employee.id)"
            >
              <i class="bi bi-pencil-square"></i> Edit
            </a>
            <a
              class="btn btn-danger btn-danger mx-2"
              (click)="showDialogDelete(employee.id)"
            >
              <i class="bi bi-trash3-fill"></i> Delete
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<p-dialog
  header=""
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '75vw' }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="hideDialog()"
  class="text-center"
>
  <app-add
    (visible)="hideDialog()"
    (addSuccess)="onAddSuccess($event)"
  ></app-add>
</p-dialog>

<p-dialog
  header=""
  [(visible)]="editDialogVisible"
  [modal]="true"
  [style]="{ width: '80vw' }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="hideEditDialog()"
  class="text-center"
>
  <app-edit
    *ngIf="employee$ | async"
    [employees]="employee$ | async"
    (visible)="hideEditDialog()"
    (closeEditDialog)="hideEditDialog()"
    (editSuccess)="onEditSuccess($event)"
    (hideSuccess)="onHideSuccess($event)"
  ></app-edit>
</p-dialog>

<p-dialog
  header=""
  [(visible)]="visibleDeleteDialog"
  [modal]="true"
  [style]="{ width: '35vw' }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="hideDeleteDialog()"
>
  <div class="container text-justify">
    <h4 class="mb-3">Confirmation</h4>

    <p class="text-dark">
      Pressing the <span style="font-weight: bold">"Delete"</span> button
      confirms the irreversible removal of this employee from the system,
      permanently deleting all associated data. Proceed with caution and ensure
      this is the intended action.
    </p>
    <div class="row">
      <div class="col-sm-6">
        <button
          class="btn btn-danger-delete full-width-button"
          (click)="deleteEmployeeData(deleteId); hideDeleteDialog()"
        >
          Delete
        </button>
      </div>
      <div class="col-sm-6">
        <button
          class="btn btn-primary full-width-button"
          (click)="hideDeleteDialog()"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</p-dialog>

<p-dialog
  header=""
  [(visible)]="assignDialogVisible"
  [modal]="true"
  [style]="{ width: '60vw' }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="hideAssignDialog()"
  class="text-center"
>
  <div class="container text-justify">
    <h4 class="mb-3">Assign Role</h4>
    <form
      [formGroup]="assignForm"
      (ngSubmit)="
        assignRole(
          assignForm.get('employee')?.value,
          assignForm.get('role')?.value
        )
      "
    >
      <div class="row mb-3 mt-4">
        <div class="col-sm-6" *ngIf="employeeList$ | async as employees">
          <select formControlName="employee" class="form-control text-center">
            <option value="" disabled selected>Select an employee</option>
            <option *ngFor="let employee of employees" [ngValue]="employee.id">
              {{ employee.firstName }} {{ employee.lastName }}
            </option>
          </select>
        </div>
        <div class="col-sm-6">
          <select formControlName="role" class="form-control text-center">
            <option value="" disabled selected>Select a role</option>
            <option value="User">User</option>
            <option value="Admin">Admin</option>
          </select>
        </div>
      </div>
      <div class="row mb-3">
        <div class="col-sm-12" *ngIf="assignRole$ | async as assign">
          <button class="btn btn-dark btn-edit full-width-button" type="submit">
            Assign
          </button>
        </div>
      </div>
    </form>
  </div>
</p-dialog>
