<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand mx-2 text-dark">Vertex</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"></button>
    <!-- <div
      class="navbar-collapse collapse d-sm-inline-flex justify-content-between"
    >
      <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
          <a class="nav-link" routerLink="/list">Home</a>
        </li>
      </ul>
      <ul class="navbar-nav d-flex login-button">
        <li class="nav-item">
          <a routerLink="/login" class="nav-link">Login</a>
        </li>
      </ul>
    </div> -->
  </div>
  <!-- <div class="right">
    <button id="login-button">Logout</button>
  </div> -->
</nav>