<div class="container mt-5">
  <app-search (resetFiltersEvent)="resetFilters()"></app-search>

  <div class="container mt-5">
    <h1 class="text-center mb-5">Employee List</h1>
    
    <div class="employee-count mb-5">
      <div class="badge">
        <div class="counts">
          Full-Time Employees: {{ fullTimeEmployeesCount }}
        </div>
      </div>
      <div class="badge">
        <div class="counts">
          Part-Time Employees: {{ partTimeEmployeesCount }}
        </div>
      </div>
      <div class="badge">
        <div class="counts">
          Interns: {{ internsCount }}
        </div>
      </div>
      <div class="badge">
        <div class="counts">
          Total employees: {{ total }}
        </div>
      </div>
    </div>
    
    <div class="row row-cols-xl-3 row-cols-sm-2 text-center">
      <div class="col py-3" *ngFor="let employee of filteredEmployees">
        <div class="card mr-3" id="card" (click)="showDialog(employee)">
          <div class="bg-white rounded shadow-sm pt-4 px-4 image">
            <img
              src="https://bootstrapious.com/i/snippets/sn-team/teacher-4.jpg"
              alt=""
              class="img-fluid rounded-circle mb-3 img-thumbnail"
            />
            <h5 class="mb-0">
              {{ employee.firstName }} {{ employee.lastName }}
            </h5>
            <span class="small text-uppercase text-muted"
              ><p>
                {{ employee.jobLevel }} - {{ employee.jobDepartment }}
              </p></span
            >
            <span class="small text-uppercase text-muted"
              ><p>{{ employee.country }}</p></span
            >
            <ul class="social list-inline mt-3">
              <li class="list-inline-item">
                <a routerLink="/hierarchy" [queryParams]="{id: employee.id}" class="social-link"
                  ><img src="assets/organization-chart.png" id="image" alt=""> </a>
               <!-- <br>
              <li class="list-inline-item">
                <a href="#" class="social-link"
                  ><i class="bi bi-facebook"></i
                ></a>
               <br>
              <li class="list-inline-item">
                <a href="#" class "social-link"
                  ><i class="bi bi-linkedin"></i
                ></a>
               <br>
              <li class="list-inline-item">
                <a href="#" class="social-link"
                  ><i class="fa fa-linkedin"></i
                ></a>
               <br> -->
            </ul>
          </div>
        </div>
        <hr />
      </div>
    </div>
  </div>
</div>

<p-dialog
  header=""
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '70vw' }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="hideDialog()"
  class="text-center"
>

<div class="card-details-container">

  <div class="column-left">

    <div class="image-dialog">
      <img src="https://bootstrapious.com/i/snippets/sn-team/teacher-4.jpg" id="dialog-profile-image" alt="image">

    </div>
    <div class="description-dialog">
      <h5 class="mb-0 text-white">
        {{ selectedEmployee?.firstName }} {{ selectedEmployee?.lastName }}
      </h5>
      <span class="small text-uppercase text-white"
        ><p>
          {{ selectedEmployee?.jobLevel }} - {{ selectedEmployee?.jobDepartment }} 
        </p></span
      >
      <span class="small text-uppercase text-white"
        ><p>{{ selectedEmployee?.country }}</p></span
      >
    </div>
    
  </div>

  <div class="column-right">

    <div class="row-first">

      <div class="employee-about">
        <h2 style="text-align: left; color: #63241f;" >{{selectedEmployee?.firstName}}'s details</h2>
      </div>
     
    </div>
    
    <hr style="color: #63241f;">
    <div class="row-second">
      <div class="table-contaimer">
        <table class="styled-table">
          <tbody>
            <tr>
              <th>ID:</th>
              <td>{{ selectedEmployee?.employeeNo }}</td>
              <th>FIRST NAME:</th>
              <td>{{ selectedEmployee?.firstName }}</td>
            </tr>
            <tr>
              <th>MIDDLE NAME:</th>
              <td>{{ selectedEmployee?.middleName }}</td>
              <th>LAST NAME:</th>
              <td>{{ selectedEmployee?.lastName }}</td>
            </tr>
            <tr>
              <th>PHONE NUMBER:</th>
              <td>{{ selectedEmployee?.phoneNumber }}</td>
              <th>EMAIL:</th>
              <td>{{ selectedEmployee?.email }}</td>
            </tr>
            <tr>
              <th>BIRTH DATE:</th>
              <td>{{ selectedEmployee?.birthDate }}</td>
              <th>GENDER:</th>
              <td>{{ selectedEmployee?.gender }}</td>
            </tr>
            <tr>
              <th>BLOOD GROUP:</th>
              <td>{{ selectedEmployee?.bloodGroup }}</td>
              <th>JOB LEVEL:</th>
              <td>{{ selectedEmployee?.jobLevel }}</td>
            </tr>
            <tr>
              <th>JOB DEPARTMENT:</th>
              <td>{{ selectedEmployee?.jobDepartment }}</td>
              <th>JOB TYPE:</th>
              <td>{{ selectedEmployee?.jobType }}</td>
            </tr>
            <tr>
              <th>CITY:</th>
              <td>{{ selectedEmployee?.city }}</td>
              <th>STATE:</th>
              <td>{{ selectedEmployee?.state }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>

</p-dialog>
