<ng-container *ngIf="addSuccessful">
  <div class="alert alert-success text-center">
    Employee Successfully Added.
  </div>
</ng-container>
<ng-container *ngIf="deleteSuccessful">
  <div class="alert alert-danger text-center">
    Employee Successfully Deleted.
  </div>
</ng-container>
<ng-container *ngIf="editSuccessful">
  <div class="alert alert-success text-center">
    Employee Successfully Edited.
  </div>
</ng-container>
<ng-container *ngIf="hideSuccessful">
  <div class="alert alert-warning text-center">
    Employee Successfully Edited.
  </div>
</ng-container>
<div class="card shadow border-0 mt-4">
  <div class="card-header bg-dark ml-0 py-3">
    <div class="row">
      <div class="col-md-12 text-center text-light p-2"></div>
    </div>
  </div>
  <div class="row mx-2 mt-4">
    <div class="col-md-6">
      <form class="form-inline">
        <!-- <input
          class="form-control"
          type="search"
          placeholder="Search"
          aria-label="Search"
        /> -->
      </form>
    </div>
    <div class="col-md-6 text-end">
      <a class="btn outline-button" (click)="showDialog()">
        <i class="bi bi-journal-plus"></i> Register New Employee
      </a>
    </div>
  </div>

  <div
    class="card-body p-4 table-responsive"
    *ngIf="employeeList$ | async as employees"
  >
    <table class="table table-bordered table-striped text-center">
      <thead>
        <tr>
          <th>Emp No.</th>
          <th>Name</th>
          <th>Email</th>
          <th>Country</th>
          <th>Department</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let employee of employees">
          <td>{{ employee.employeeNo }}</td>
          <td>{{ employee.firstName }} {{ employee.lastName }}</td>
          <td>{{ employee.email }}</td>
          <td>{{ employee.country }}</td>
          <td>{{ employee.jobDepartment }}</td>
          <td>
            <a
              class="btn btn-dark btn-edit mx-2"
              (click)="showDialogEdit(employee.id)"
            >
              <i class="bi bi-pencil-square"></i> Edit
            </a>
            <a
              class="btn btn-danger btn-danger mx-2"
              (click)="showDialogDelete(employee.id)"
            >
              <i class="bi bi-trash3-fill"></i> Delete
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<p-dialog
  header=""
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '75vw' }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="hideDialog()"
  class="text-center"
>
  <app-add
    (visible)="hideDialog()"
    (addSuccess)="onAddSuccess($event)"
  ></app-add>
</p-dialog>

<p-dialog
  header=""
  [(visible)]="editDialogVisible"
  [modal]="true"
  [style]="{ width: '80vw' }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="hideEditDialog()"
  class="text-center"
>
  <app-edit
    *ngIf="employee$ | async"
    [employees]="employee$ | async"
    (visible)="hideEditDialog()"
    (closeEditDialog)="hideEditDialog()"
    (editSuccess)="onEditSuccess($event)"
    (hideSuccess)="onHideSuccess($event)"
  ></app-edit>
</p-dialog>

<p-dialog
  header=""
  [(visible)]="visibleDeleteDialog"
  [modal]="true"
  [style]="{ width: '35vw' }"
  [draggable]="false"
  [resizable]="false"
  (onHide)="hideDeleteDialog()"
>
  <div class="container text-justify">
    <h4 class="mb-3">Confirmation</h4>

    <p class="text-dark">
      Pressing the <span style="font-weight: bold">"Delete"</span> button
      confirms the irreversible removal of this employee from the system,
      permanently deleting all associated data. Proceed with caution and ensure
      this is the intended action.
    </p>
    <div class="row">
      <div class="col-sm-6">
        <button
          class="btn btn-danger-delete full-width-button"
          (click)="deleteEmployeeData(deleteId); hideDeleteDialog()"
        >
          Delete
        </button>
      </div>
      <div class="col-sm-6">
        <button
          class="btn btn-primary full-width-button"
          (click)="hideDeleteDialog()"
        >
          Cancel
        </button>
      </div>
    </div>
  </div>
</p-dialog>
