/* hierarchy.component.css */
h1 {
  text-align: center;
  color: #63241f;
}

.content-holder {
  height: 90vh;
  display: grid;
  grid-template-columns: 1fr; /* Use one column on smaller screens */
  grid-template-rows: auto auto; /* Rows adjust automatically based on content */
  overflow: scroll;
}

.heading {
  grid-row: 1; /* Display the heading at the top */
}

.chart {
  grid-row: 2; /* Display the chart below the heading */
  width: 100%;
}

.p-organizationchart .p-organizationchart-node-content {
  background-color: #63241f;
  color: white;
}

.image,
img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

/* Media Query for Smaller Screens */
@media (min-width: 768px) {
  .content-holder {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
  }

  .heading {
    grid-column: 2 / 5;
    grid-row: 2 / 4;
  }

  .chart {
    grid-column: 3 / 4;
    grid-row: 3 / 6;
  }
}

.person-details {
  display: flex;
}

::ng-deep .p-organizationchart .p-organizationchart-node-content {
  background-color: #63241f;
  color: white;
}

::ng-deep
  .p-organizationchart
  .p-organizationchart-node-content
  .p-node-toggler {
  background-color: #63241f;
  color: white;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

::ng-deep .p-organizationchart .p-organizationchart-node-content.p-highlight {
  background: white;
  color: #63241f;
  border: 2px solid #63241f;

}

::ng-deep .p-organizationchart .p-organizationchart-node-content.p-highlight:hover {
  
  background-color: #521b17;
color: white;
}

.chart-node {
  min-width: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center; 
  justify-content: center; 
  text-align: center;
  padding: 10px;
  margin: 5px;
}



.content-holder{
  border:  10px solid #63241f;
}