.content-holder {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 2%;
  text-align: center;
}

.heading {
  text-align: center;
}

h3 {
  color: #63241f;
}

.image img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.card-content {
  height: 200px;
  width: 200px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.title {
  margin-bottom: 10px;
}

.name p {
  margin: 0;
}
