a{
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
button {
    background-color: #63241f;
  }
  
  .outline-button {
    border: 2px solid #63241f; /* Initial outline border color */
    background-color: transparent;
    color: #63241f; /* Text color */
    padding: 10px 20px; /* Adjust padding as needed */
    cursor: pointer;
    transition: border-color 0.3s ease; /* Smooth transition for border color */
  }
  
  /* Hover effect */
  .outline-button:hover {
    border-color: transparent; /* Remove the border on hover */
    background-color: #63241f; /* Solid background color on hover */
    color: #fff; /* Text color on hover */
  }
  

    /* Add styles for success message */
.alert-success {
  background-color: #d4edda; /* Green background color for success */
  color: #155724; /* Dark green text color for success */
  border-color: #c3e6cb; /* Light green border color for success */
}

/* Add styles for error message */
.alert-danger {
  background-color: #f8d7da; /* Red background color for error */
  color: #721c24; /* Dark red text color for error */
  border-color: #f5c6cb; /* Light red border color for error */
}
