
<div class="filter-fields">
  <div class="search-box">
    <input #searchInput [(ngModel)]="searchTerm" (keyup)="filter(searchInput.value,'','input')" class="search-input" type="text" placeholder="Search...."  >
    <!-- <button class="search-btn"><i class="fa fa-search"></i></button> -->
  </div>
  <div class="dropdown">
    <p-dropdown [options]="cities" [(ngModel)]="selectedCity" placeholder="Country"  optionLabel="name" (onChange)="filter($event,'country','dropdown')"></p-dropdown>
  </div>
  <div class="dropdown">
    <p-dropdown [options]="departments" [(ngModel)]="selectedDepartment" placeholder="Department" optionLabel="name" (onChange)="filter($event,'department', 'dropdown')"></p-dropdown>
  </div>
 
   <div class="dropdown">
    <p-dropdown [options]="jobLevel" [(ngModel)]="selectedJobLevel" placeholder="jobLevel" optionLabel="name" (onChange)="filter($event,'jobLevel', 'dropdown')"></p-dropdown>

   </div>
</div>

